@font-face {
    font-family: JetBrainsMono-Regular;
    src: url(./fonts/JetBrainsMono-Regular.woff2) format("woff2");
}

@font-face {
    font-family: JetBrainsMono-SemiBold;
    src: url(./fonts/JetBrainsMono-SemiBold.woff2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: JetBrainsMono-SemiBold;
}

.hero {
    height: 100vh;
    background-color: rgb(0, 45, 45);
    color: white;

    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.hero > div {
    display: flex;
    gap: 100px;
}

.mainTask > form > input {
    height: 35px;
    padding: 5px;
    width: 300px;
    border: none;
    outline: none;
    font-family: JetBrainsMono-SemiBold;
    font-size: 18px;
    border-radius: 10px;
}

.mainTask > form >  form > input:focus {
    border: none;
    outline: none;
}

.mainTask > form > input::placeholder {
    font-family: JetBrainsMono-SemiBold;
}

.mainTask > form > button {
    height: 45px;
    width: 60px;
    font-family: JetBrainsMono-SemiBold;
    background-color: rgb(0, 83, 83);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.mainTask > form > button:hover {
    color: blue;
}

.addedTask > ul {
    font-size: 20px;

    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.addedTask > ul {
    list-style: none;
}

.addedTask > ul > i {
    cursor: pointer;
    align-self: flex-end;
}

.addedTask > ul > form > input {
    background-color: white;
    font-family: JetBrainsMono-Regular;
    font-size: 18px;
    height: 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.addedTask > ul > form > input:focus {
    outline: none;
}

.addedTask > ul > form > button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.completedTasks > ul {
    margin-top: 20px;

    display: flex;
    gap: 20px;
} 

.completedTasks > ul > li {
    text-decoration:line-through;
    list-style: none;
}

.completedTasks > ul > i {
    justify-self: end;
}

.completedHeadline {
    font-size: 30px;
}


/* Alert */
.alertMainDiv {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    /* flex in JavaScript */
    align-items: center;
    justify-content: center;

    display: none;
}

.alertbox {
    padding: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
}

.alertbox > button {
    font-family: JetBrainsMono-SemiBold;
    background-color: blue;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}